<div class="col-md-2 centered">
   <%= link_to(user_path(member.user)) do %>
      <%= image_tag member.user.avatar.url(:thumb),
         :class => "img-header img-responsive img-circle img-bubble",
         :alt => (member.user.first_name + " " + member.user.last_name) %>
      <br>
      <span><%= member.user.first_name %> <%= member.user.last_name %></span>
      <br>
      <span><strong><%= member.role %></strong></span>
   <% end %>
</div>
