<%= render 'properties/property_header', :property => @property %>
<div class="container">
   <div class="row">
      <%= render :partial => 'user_bubble', :collection => @members, :as => :member %>
   </div>
</div>
