<h4> Log In </h4>
<%= form_tag method:"post" do %>
   <p>
      <%= text_field_tag :email, params[:email], :placeholder => "email" %>
   </p>
   <p>
       <%= password_field_tag :password %>
   </p>
   <p class="button"><%= submit_tag "log in", :class => "btn btn-primary" %></p>
<% end %>
