<%= form_for @user, :html => { :multipart => true } do |f| %>
   <% if @user.errors.any? %>
      <div class="errors">
         <ul>
            <% for message in @user.errors.full_messages %>
               <li><%= message %></li>
            <% end %>
         </ul>
      </div>
   <% end %>

   <p>
   <%= f.text_field :email, :placeholder => "Email address" %>
   </p>
   <p>
   <%= f.text_field :username, :placeholder => "Username" %>
   </p>
   <p>
   <%= f.text_field :first_name, :placeholder => "First name" %>
   <%= f.text_field :last_name, :placeholder => "Last name" %>
   <p>
    <%= f.label :bio %>
    <%= f.text_area :bio %>
   </p>
   <p>
    <%= f.label :avatar %>
    <%= f.file_field :avatar %><br>
    <span><%= image_tag @user.avatar.url(:thumb) %></span>
   </p>
   <%= f.submit "Save", :class => "btn btn-success" %>
<% end %>
