<%= form_for @user, :html => { :multipart => true } do |f| %>
   <% if @user.errors.any? %>
      <div class="errors">
         <ul>
            <% for message in @user.errors.full_messages %>
               <li><%= message %></li>
            <% end %>
         </ul>
      </div>
   <% end %>

   <p>
      <%= f.text_field :email, :placeholder => "email address" %>
   </p>
   <p>
      <%= f.password_field :password, :placeholder => "password" %>
   </p>
   <p>
      <%= f.password_field :password_confirmation, :placeholder => "confirm password" %>
   </p>
   <%= f.submit "Save", :class => "btn btn-primary" %>
<% end %>
