<div class="container">
   <%= render 'user_header', :user => @user %>
   <br>
   <div class="panel panel-default">
      <div class="panel-heading">
         <h3 class="panel-title">Edit User Profile</h3>
      </div>
      <div class="panel-body">
         <%= render 'edit_form' %>
      </div>
   </div>
   <div class="panel panel-default">
      <div class="panel-heading">
         <h4 class="panel-title">
            Dangerous Actions
         </h4>
      </div>
      <div class="panel-body">
         <%= link_to 'Delete', user_path(@user), method: :delete, data: {confirm: 'Are you sure? This will delete all data associated with this account and cannot be undone.'}, :class => "btn btn-danger"  %>
      </div>
   </div>
</div>
