<div class="container down">
   <div class="row centered">
      <div class="col-md-1 half-down">
      </div>
      <div class="col-md-1 half-down">
         <%= link_to(property_path(property)) do %>
            <div class="cd-timeline-img cd-location">
               <%= image_tag "timeline/icon_calendar.svg" %>
            </div>
         <% end %>
      </div>
      <div class="col-md-1 half-down">
         <%= link_to(property_tickets_path(property)) do %>
            <div class="cd-timeline-img cd-location">
               <%= image_tag "timeline/icon_ticket.svg" %>
            </div>
         <% end %>
      </div>
      <div class="col-md-1 half-down">
         <%= link_to(property_memberships_path(property)) do %>
            <div class="cd-timeline-img cd-location">
               <%= image_tag "timeline/icon_user.svg" %>
            </div>
         <% end %>
      </div>
      <div class="col-md-4 cd-timeline-element">
         <%= image_tag property.avatar.url, 
            :class => "img-header img-responsive img-circle", 
            :alt => property.street_address %>
         <span><%= property.street_address %></span>
      </div>
      <div class="col-md-1 half-down">
         <div class="cd-timeline-img cd-location">
            <%= image_tag "timeline/icon_chat.svg" %>
         </div>
      </div>
      <div class="col-md-1 half-down">
         <div class="cd-timeline-img cd-location">
            <%= image_tag "timeline/icon_plus.svg" %>
         </div>
      </div>
      <div class="col-md-1 half-down">
         <div class="cd-timeline-img cd-location">
            <%= image_tag "timeline/icon_exclamation.svg" %>
         </div>
      </div>
      <div class="col-md-1 half-down">
      </div>
   </div>
</div>
