<div class="cd-timeline-block">
   <div class="cd-timeline-img cd-location">
      <%= image_tag "timeline/cd-icon-location.svg" %>
   </div>
   <div class="cd-timeline-content">
      <h2><%= link_to event.user.first_name, user_path(event.user) %></h2>
      <h4><%= event.text %></h4>
      <span class="cd-date"><%= event.created_at %></span>
   </div>
</div>
