<div class="col-md-4">
   <div class="bubble">
      <div class="shim"></div>
      <%= image_tag "properties/plus_icon.svg", :class => "img-square plus" %>
      <div class="shim"></div>
      <span>Add property...</span>
   </div>
</div>
