<div class="col-md-4">
   <%= link_to(property_path(membership.property)) do %>
      <div class="bubble">
         <%= image_tag membership.property.avatar.url, :class => "img-square", :alt => membership.property.street_address %>
         <span><%= membership.property.street_address %></span>
      </div>
   <% end %>
</div>
