<br>
<br>
<br>
<br>
<br>
<br>
<br>

<div class="container">
   <div class="row">
      <%= render :partial => 'property_preview', :collection => @memberships, :as => :membership %>
      <%= render 'property_new_button' %>
   </div>
</div>
