<%= render 'property_header', :property => @property %>
<div class="container">
   <% if @property.property_events.size > 0 %>
      <section id="cd-timeline" class="cd-container">
         <%= render :partial => 'property_event', 
            :collection => @property.property_events,
            :as => :event %>
      </section> 
   <% else %>
      <h1> No events to show </h1>
   <% end %>
</div>
