<section class="chatbox">
   <div class="top-bar centered">
      <h5>Group Chat</h5>
   </div>
   <ul class="conversation">
      <li class="other">
         <div class="message">
            <p>Hey! Have you sent that check yet?</p>
         </div>
      </li>
      <li class="self">
         <div class="message">
            <p>Yeah, Robin sent it on the 1st.</p>
         </div>
      </li>
   </ul>

</section>
