<div class="container down">
   <div class="row centered">
      <div class="col-md-1 half-down">
      </div>
      <div class="col-md-1 half-down">
         <div class="cd-timeline-img cd-location">
            <img src="/assets/timeline/icon_plus.svg">
         </div>
      </div>
      <div class="col-md-1 half-down">
         <div class="cd-timeline-img cd-location">
            <img src="/assets/timeline/icon_user.svg">
         </div>
      </div>
      <div class="col-md-1 half-down">
         <div class="cd-timeline-img cd-location">
            <img src="/assets/timeline/icon_calendar.svg">
         </div>
      </div>
      <div class="col-md-4 cd-timeline-element">
         <img class="img-header img-responsive img-circle" src="/assets/properties/house1.jpg">   
         <span>1525 Nipomo St.</span>
      </div>
      <div class="col-md-1 half-down">
         <div class="cd-timeline-img cd-location">
            <img src="/assets/timeline/icon_chat.svg">
         </div>
      </div>
      <div class="col-md-1 half-down">
         <div class="cd-timeline-img cd-location">
            <img src="/assets/timeline/icon_ticket.svg">
         </div>
      </div>
      <div class="col-md-1 half-down">
         <div class="cd-timeline-img cd-location">
            <img src="/assets/timeline/icon_exclamation.svg">
         </div>
      </div>
      <div class="col-md-1 half-down">
      </div>
   </div>
</div>
