<%= render 'header' %>
<% render 'chats/chatbox' %>

<div class="container">
   <section id="cd-timeline" class="cd-container">
      <div class="cd-timeline-block">
         <div class="cd-timeline-img cd-location"><img src="/assets/timeline/cd-icon-location.svg" alt=""></div>
         <div class="cd-timeline-content">
            <h2>Robin mailed his rent check.</h2>
            <span class="cd-date">November 1</span>
         </div>
      </div>
   </section> 
</div>
