<div class="container">

   <div class="cd-form-wrapper cd-container">
      <div class="cd-form">
         <label class="cd-label" for="cd-title">Short title:</label>
         <input type="text" id="cd-title" class="cd-email" name="cd-title" placeholder="garbage disposal jammed">
      </div>
      <br>
      <div class="cd-form">
         <label class="cd-label" for="cd-where">Where is the issue?</label>
         <input type="text" id="cd-where" class="cd-email" name="cd-where" placeholder="kitchen">
      </div>
      <br>
      <div class="cd-form">
         <label class="cd-label" for="cd-desc">Complete problem description:</label>
         <textarea class="cd-email" name="cd-desc" id="cd-desc"
            placeholder="When the garbage disposal is turned on, it makes a grinding sound but does not drain."></textarea>
      </div>
      <br>
      <div class="cd-form">
         <label class="cd-label" for="cd-desc">So far I have tried</label>
         <textarea class="cd-email" name="cd-desc" id="cd-desc"
            placeholder="Using a drain cleaner like drano."></textarea>
      </div>
      <br>
      <div class="cd-form">
         <input type="submit" class="cd-submit" value="Submit" id="submitButton">
      </div>
   </div>


</div>
