<div class="row spaced-block vertical-center">
   <div class="col-md-1 centered">
      <%= image_tag ticket.user.avatar.url(:thumb),
         :class => "img-header img-responsive img-circle inline",
         :alt => ticket.user.first_name %>
   </div>
   <div class="col-md-11">
      <h2><%= link_to ticket.title, property_ticket_path(ticket.property, ticket) %></h2>
      <p>by <%= link_to (ticket.user.first_name + " " + ticket.user.last_name), user_path(ticket.user) %></p>
   </div>
</div>
