<div class="row spaced-block vertical-center">
   <div class="col-md-1 centered">
      <%= image_tag ticket.user.avatar.url(:thumb),
         :class => "img-header img-responsive img-circle inline",
         :alt => ticket.user.first_name %>
   </div>
   <div class="col-md-9">
      <h2><%= ticket.title %></h2>
      <p>by <%= link_to (ticket.user.first_name + " " + ticket.user.last_name), user_path(ticket.user) %></p>
   </div>
   <div class="col-md-2">
      <button class="btn btn-primary btn-fancy">Close Ticket</button>
   </div>
</div>
<div class="row spaced-block">
   <div class="ticket-description">
      <h3>Description:</h3>
      <p><%= ticket.description %></p>
   </div>
   <div class="ticket-location">
      <h3>Location:</h3>
      <p><%= ticket.location %></p>
   </div>
   <div class="ticket-attempted">
      <h3>Attempted:</h3>
      <p><%= ticket.attempted %></p>
   </div>
   <div class="ticket-photographs">

   </div>
</div>
