<%= render 'properties/property_header', :property => @property %>
<div class="container">
   <div class="row">
      <div class="col-md-12 centered">
         <h1>Tickets</h2>
      </div>
   </div>
   <%= render :partial => 'ticket_preview', :collection => @tickets, :as => :ticket %>
</div>
