<%= render 'properties/property_header', :property => @property %>
<div class="container">
   <% # First, render the ticket header %>
   <%= render 'ticket_header', :ticket => @ticket %>

   <% # Then, render all the responses and comments %>
</div>
