/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */



/*
 * Define our colors/
 */
$accent-pink: #FF0080;
$accent-blue: #99E6FF;
$background-color: #F5F5F5;
$font-stack: 'Open Sans', sans-serif;
$brand-font: 'Damion', cursive;

/*
 * Our background colors for blocks
 */
$bg-blue: #3498db;
$bg-green: #2ecc71;
$bg-purple: #9b59b6;
$bg-red: #e74c3c;
$bg-orange: #e67e22;
$bg-white: #ecf0f1;
$bg-yellow: #f1c40f;

/*
 * Override Bootstrap constants
 */
$navbar-default-bg: $accent-blue;
$btn-default-bg: $accent-blue;
$brand-primary: $accent-blue;
$btn-default-border: $accent-blue;

/*
 * Import bootstrap
 */
@import "bootstrap-sprockets";
@import "bootstrap";

.down {
   margin-top: 20px;
}

// Mixins!
@mixin box-shadow($top, $left, $blur, $color, $inset:"") {
   -webkit-box-shadow:$top $left $blur $color #{$inset};
   -moz-box-shadow:$top $left $blur $color #{$inset};
   box-shadow:$top $left $blur $color #{$inset};
}

@mixin border-radius($radius) {
   -webkit-border-radius: $radius;
   -moz-border-radius: $radius;
   -ms-border-radius: $radius;
   border-radius: $radius;
}

@mixin background-opacity($color, $opacity: 0.3) {
   background: $color; /* The Fallback */
   background: rgba($color, $opacity);
}

@mixin center($axis: "both"){
   position:absolute;
   @if $axis == "y"{
      top:50%;
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      transform: translateY(-50%);
   }
   @if $axis == "x"{
      left:50%;
      -webkit-transform: translateX(-50%);
      -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      -o-transform: translateX(-50%);
      transform: translateX(-50%);
   }
   @if $axis == "both"{
      top:50%;
      left:50%;
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
   }  
}

/**
 * Site-wide style rules here.
 */

body {
   margin: 0px;
   background-color: $background-color;
   /*background-image: url('/assets/houses.jpg');*/
   background-attachment: fixed;
   background-size: cover;
   font-family: $font-stack;
}

/*
 * Color block things
 */
.color-block {
   min-height: 20px;
}
.blue {
   background-color: $bg-blue;
}
.orange {
   background-color: $bg-orange;
}
.green {
   background-color: $bg-green;
}
.purple {
   background-color: $bg-purple
}
.red {
   background-color: $bg-red;
}
.white {
   background-color: $bg-white;
}
.yellow {
   background-color: $bg-yellow;
}

.frosted {
   @include background-opacity($background-color, 0.6);
}

.centered {
   text-align: center;
}

.brand {
   font-family: $brand-font !important;
}
.navbar-brand {
   font-size: 3em;
   position: absolute;
   width: 100%;
   left: 0;
   text-align: center;
   margin: auto;
   margin-left: 0px !important
}
.navbar-right {
   font-family: $font-stack;
   padding-right: 15px;
}
.navbar-left {
   padding-left: 15px;
}

.panel {
   width: 100%;
   @include border-radius(0px);
}
.panel-heading {
   @include border-radius(0px);
}

ul, li, p, span, button, div, a {
   @include border-radius(0px);
}

.carousel {
   .item {
     max-height: 250px; 
     overflow: hidden; 
   }
}

.disabled {
   opacity: 0.5;
}

.img-bubble {
   display: inline !important;
   margin-bottom: 10px;
}

.vertical-center {
   display: flex;
   align-items: center;
}

.btn-fancy {
   width: 100%;
   border-radius: 17px;
}
