// Place all the styles related to the chats controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.chatbox {
   position: fixed;
   min-width: 300px;
   max-width: 300px;
   min-height: 300px;
   max-height: 300px;
   bottom: 0px;
   right: 10px;
   border-top: 1px solid #777777;
   border-left: 1px solid #777777;
   border-right: 1px solid #777777;

   .top-bar {
      background: #666;
      position: relative;
      overflow: hidden; 
      border-bottom: 1px solid #777777;
      > * {
         position: relative;
      }

      &:before {
         content: "";
         position: absolute;
         top: -100%;
         left: 0;
         right: 0;
         bottom: -100%;
         background-color: #99e6ff;
      }
   }
   
   ul {
      list-style-type: none;
   }

   .discussion {
      > li {
         margin-top: 5px;
         display: flex;
         


         .other {

         }
         .self {
            justify-content: flex-end;
            align-items: flex-end;
         }
      }
   }

}

@keyframes pulse {
   from { opacity: 0; }
   to { opacity: 0.5; }
}
