// Place all the styles related to the properties controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$accent-blue: #99E6FF;
$background-color: #F5F5F5;

$bubble-color: #f0ca45;

.bubble {
   min-width: 380px;
   text-align: center;
   background-color: rgba(0, 0, 0, 0.1) !important;

   > img {
      width: 100%;
   }
   
   > span {
      width: 100%;
      font-size: 1.5em;
      text-decoration: none;
      color: #333333 !important;
   }
}

.plus {
   width: 150px !important;
   height: 150px !important;
}

.shim {
   clear:both;
   min-height: 115px;
}
