// Place all the styles related to the tickets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.spaced-block {
   background-color: white;
   margin-top: 10px;
   margin-bottom: 10px;
   padding: 15px;
}

.inline {
   display: inline !important;
}
