<div class="color-block blue">
   <div class="container">
      <div class="row centered">
         <h1><span class="brand">Leasy</span></h1>
      </div>
   </div>
</div>
<div class="color-block green">
   <div class="container">
      <div class="row centered">
         <h1><span class="brand">Leasy</span></h1>
      </div>
   </div>
</div>
<div class="color-block purple">
   <div class="container">
      <div class="row centered">
         <h1><span class="brand">Leasy</span></h1>
      </div>
   </div>
</div>
<div class="color-block orange">
   <div class="container">
      <div class="row centered">
         <h1><span class="brand">Leasy</span></h1>
      </div>
   </div>
</div>
<div class="color-block red">
   <div class="container">
      <div class="row centered">
         <h1><span class="brand">Leasy</span></h1>
      </div>
   </div>
</div>
