<div class="frosted">
   <div class="container">
      <div class="row centered">
         <div class="col-md-6">
            <h1>For tenants:</h1>
            <h2>
               <span class="brand">Leasy</span> gets you heard when communicating with your landlord.
            </h2>
         </div>
         <div class="col-md-6">
            <h1>For landlords:</h1>
            <h2>
               <span class="brand">Leasy</span> makes it painless to keep tabs on your tenants and properties.
            </h2>
         </div>
      </div>
      <br>
      <!--
      <div class="row">
         <div class="col-md-6">
            <img class="img-responsive img-rounded" src="/assets/laptop.jpg">
         </div>
         <div class="col-md-6">
            <img class="img-responsive img-rounded" src="/assets/laptop.jpg">
         </div>
      </div>
      <br>
      -->
   </div>
</div>
