<div class="color-block blue">
   <div class="container">
      <div class="row centered">
         <div class="col-md-2"></div>
         <div class="col-md-8 centered">
            <h3>Get product updates</h3>
            <form class="form-inline">
               <div class="form-group">
                  <input id="emailsignup" class="form-control" type="text" name="email" placeholder="email address">
               </div>
               <button class="btn btn-primary">Let me know!</button>
            </form>
            <p>Sign up for our infrequent mailer to recieve updates on <span class="brand">Leasy</span></p>
         </div>
         <div class="col-md-2"></div>
      </div>
   </div>
</div>
