<nav class="navbar navbar-default" role="navigation">
   <div class="container">
      <ul class="nav navbar-nav navbar-left">
         <!-- Left nav elements -->
      </ul>
      <a class="navbar-brand brand">Leasy</a>
      <ul class="nav navbar-nav navbar-right">
         <!-- Right nav elements -->
         <% unless current_user %>
            <li><a href="/about" id="aboutButton">About</a></li>
            <li><a href="/login" id="loginButton">Login</a></li>
         <% end %>
         <% if current_user %>
            <li class="dropdown">
               <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= current_user.username.blank? ? current_user.email : current_user.username %><span class="caret"></span></a>
               <ul class="dropdown-menu" role="menu">
                  <li><%= link_to 'My Properties', properties_path %></li>
                  <li><%= link_to 'My Profile', user_path(current_user) %></li>
               </ul>
            </li>
         <% end %>
      </ul>
   </div>
</nav>
