<!DOCTYPE html>
<html>
<head>
  <title>Leasy</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= google_webfonts_link_tag :open_sans %>
  <%= google_webfonts_link_tag :Damion %>
  <%= csrf_meta_tags %>
</head>

<%= render 'layouts/header' %>
<body>
   <%= yield %>
</body>
</html>
